*{
    padding: 0;
    margin: 0;
    
}
body{
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);

}
main{
    font-family:Arial, Helvetica, sans-serif;
}
.container{
    
    text-align: center;
    margin-top: 150px;
}
.container h1{
    font-size: 46px;
    margin-bottom: 30px;
}
.container span{
    font-size: 70px;
}
.button-container {
    text-align: center;
    margin: 15px;
}
.button-container button{
    height: 30px;
    width: 100px;
    margin: 10px;
    border-radius: 5px;
    border:  2px solid black;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
}
.button-container button:hover{
    background-color: black;
    color: white;
    transition: .3s;
}